.Footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 30px;
}
.footer-icon {
  margin-right: 15px;
  height: 60px;
}

.Footer-heading {
  font-family: roboto;
  font-size: 17px;
}
