.Login-background-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;

  max-width: 1110px;
}
@media screen and (max-width: 991px) {
  .Login-background-container {
    flex-direction: column;
    justify-content: center;
  }
}
.website-image {
  width: 50vw;
  height: 100vh;
}
@media screen and (max-width: 991px) {
  .website-image {
    display: none;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  flex-shrink: 0;
  box-shadow: 0px 8px 40px rgba(8, 0, 0, 0.08);
  padding: 64px 48px 64px 48px;
  align-self: center;
  border-radius: 8px;
  margin-left: 100px;
}

@media screen and (max-width: 991px) {
  .form {
    width: 100vw;
    margin-left: 0px;
    box-shadow: transparent;
    padding-top: 0px;
  }
}
.logo-image {
  width: 141px;
  height: 48px;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #475569;
}

.username-input-field {
  font-size: 14px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #c3cad9;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
  border-radius: 8px;
}

.password-input-field {
  font-size: 14px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #c3cad9;
  border-radius: 8px;
  color: #64748b;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.login-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #0b69ff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}

.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}

.ShowHideContainer {
  display: flex;
  margin-top: 10px;
}
.box-input {
  margin-right: 4px;
}

.website-mobile-image {
  width: 165px;
  margin-top: 80px;
  margin-bottom: 35px;
  border-radius: 50%;
}
@media screen and (min-width: 992px) {
  .website-mobile-image {
    display: none;
    border-radius: none;
  }
}
